---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import SocialPill from "../components/SocialPill.astro";
import Github from "../components/icons/Github.astro";
import Email from "../components/icons/Email.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Work from "../components/icons/Work.astro";
import Proyect from "../components/icons/Project.astro";
import Projects from "../components/Projects.astro";
import FormIcon from "../components/icons/FormIcon.astro";
import Form from "../components/Form.astro";
import AboutIcon from "../components/icons/AboutIcon.astro";
---

<Layout
	title='Humberto Rivero - Desarrollador Frontend y Profesor'
	description='Humberto Rivero - Desarrollador Frontend y Profesor de la Carrera Certified Tech Developer'
>
	<main class='flex flex-col gap-14 md:gap-20 lg:gap-40 mt-11 lg:mt-44'>
		<SectionContainer>
			<img
				class='rounded-full h-16 w-16 mb-4'
				src='/images/avatar.png'
				alt='mi photo'
			/>
			<h1
				class='text-white text-5xl font-bold flex flex-col items-start xl:flex-row xl:items-center gap-4 pb-10'
			>
				Hola, soy Humberto <a
					href='https://www.linkedin.com/in/humberto-rivero-castro/'
					target='_blank'
					rel='noopener'
					class='flex items-center'><Badge>Disponible para trabajar</Badge></a
				>
			</h1>
			<h2 class='text-2xl opacity-80 text-wrap'>
				<span>+4 años de expriencia</span>. <span class='text-violet-400/90'
					>Desarrollador Frontend y Profesor de la Carrera Certified Tech
					Developer</span
				>. <span class='text-sky-300/90'>De Argentina, Buenos Aires</span>. <span
					class='opacity-70'
					>Especializado en proyectos innovadores y escalables.</span
				>
			</h2>

			<!-- Redes -->
			<nav class='mt-6'>
				<ul class='flex flex-wrap md:flex-nowrap gap-4'>
					<li>
						<SocialPill
							href='https://www.linkedin.com/in/humberto-rivero-castro/'
						>
							<Linkedin class='size-6' />
							<span>LinkedIn</span>
						</SocialPill>
					</li>
					<li>
						<SocialPill href='https://github.com/humbertodrc'>
							<Github class='size-6' />
							<span>Github</span>
						</SocialPill>
					</li>
					<li>
						<SocialPill href='mailto:humbertoriver9@gmail.com'>
							<Email class='size-6' />
							<span>humbertoriver9@gmail.com</span>
						</SocialPill>
					</li>
				</ul>
			</nav>
		</SectionContainer>

		<SectionContainer id='about'>
			<h2
				class='text-2xl opacity-80 font-semibold mb-6 flex items-center gap-4'
			>
				<AboutIcon class='size-7' />
				Sobre mí
			</h2>
			<div class='flex flex-col lg:flex-row gap-6'>
				<img
					class='rounded-lg shadow-2xl shadow-white/10'
					src='/images/about-me.webp'
					alt='Sobre mí'
					width="400"
					height="480"
				/>
				<div>
					<p class='text-base mb-4 text-gray-400 dark:text-gray-400 text-pretty'>
						Desarrollador Frontend y Profesor de la Carrera Certified Tech
						Developer. Me especializo en proyectos innovadores y escalables.
						Actualmente trabajo en <a
							href='https://www.greenflame.com.ar'
							target='_blank'
							rel='noopener'
							class='text-violet-400/90'>greenFlame</a
						> como Desarrollador Frontend y en <a
							href='https://www.digitalhouse.com'
							target='_blank'
							rel='noopener'
							class='text-violet-400/90'>Digital House</a
						> como Profesor de la Carrera Certified Tech Developer. Tambien soy mentor
						en Digital House, donde enseño y dicto talleres en vivo, además guío
						a futuros desarrolladores en diversas tecnologías frontend.
					</p>
					<p class='text-base mb-4 text-gray-400 dark:text-gray-400 text-pretty'>
						En mi rol como Mentor y Community Manager Técnico en Digital House,
						ofrezco soporte a estudiantes, resolviendo problemas técnicos y
						proporcionando orientación personalizada. Como profesor, imparto
						clases de especialización en Frontend, abarcando temas como React,
						TypeScript, Redux, buenas prácticas de programación y principios
						SOLID. Además, realizo code reviews y corrijo proyectos finales,
						asegurando que los estudiantes cumplan con los estándares del
						mercado.
					</p>
					<!-- <p class='text-base'>
						Mi enfoque en la calidad y el rendimiento, combinado con mis
						habilidades pedagógicas, me permite comunicar conceptos complejos de
						manera clara y efectiva. Estoy comprometido con la actualización
						constante de mis conocimientos para mantenerme al día con las
						últimas tendencias en desarrollo frontend.
					</p> -->
				</div>
			</div>
		</SectionContainer>

		<SectionContainer id='experience'>
			<h2
				class='text-2xl opacity-80 font-semibold mb-6 flex items-center gap-4'
			>
				<Work class='size-7' />
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id='projects'>
			<h2
				class='text-2xl opacity-80 font-semibold mb-6 flex items-center gap-4'
			>
				<Proyect class='size-7' />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id='contact'>
			<h2
				class='text-2xl opacity-80 font-semibold mb-6 flex items-center gap-4'
			>
				<FormIcon class='size-7' />
				Contacto
			</h2>
			<p class='text-lg mb-6 text-gray-400 dark:text-gray-400 text-pretty'>
				¿Tenés un proyecto en mente o querés charlar sobre tecnología?
				¡Escribime!
			</p>
			<Form />
		</SectionContainer>
	</main>
</Layout>
