---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import SocialPill from "../components/SocialPill.astro";
import Github from "../components/icons/Github.astro";
import Email from "../components/icons/Email.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Work from "../components/icons/Work.astro";
---

<Layout 
	title='Humberto Rivero - Desarrollador Frontend y Profesor'
	description='Humberto Rivero - Desarrollador Frontend y Profesor de la Carrera Certified Tech Developer'
	>
	<main class="flex flex-col gap-20 lg:gap-40 mt-11 lg:mt-44">
		<SectionContainer>
			<img
				class='rounded-full h-16 w-16 mb-4'
				src='/images/avatar.png'
				alt='mi photo'
			/>
			<h1
				class='text-white text-5xl font-bold flex flex-col items-start xl:flex-row xl:items-center gap-4 pb-10'
			>
				Hola, soy Humberto <a
					href='https://www.linkedin.com/in/humberto-rivero-castro/'
					target='_blank'
					rel='noopener'
					class='flex items-center'><Badge>Disponible para trabajar</Badge></a
				>
			</h1>
			<h2 class='text-2xl opacity-80 text-wrap'>
				<span>+4 años de expriencia</span>. <span class='text-violet-400/90'
					>Desarrollador Frontend y Profesor de la Carrera Certified Tech
					Developer</span
				>. <span class='text-sky-300/90'>De Argentina, Buenos Aires</span>. <span
					class='opacity-70'
					>Especializado en proyectos innovadores y escalables.</span
				>
			</h2>

			<!-- Redes -->
			<nav class='mt-6'>
				<ul class='flex flex-wrap md:flex-nowrap gap-4'>
					<li>
						<SocialPill
							href='https://www.linkedin.com/in/humberto-rivero-castro/'
						>
							<Linkedin class='size-6' />
							<span>LinkedIn</span>
						</SocialPill>
					</li>
					<li>
						<SocialPill
							href='https://github.com/humbertodrc'
						>
							<Github class='size-6' />
							<span>Github</span>
						</SocialPill>
					</li>
					<li>
						<SocialPill
							href='mailto:humbertoriver9@gmail.com'
						>
							<Email class='size-6' />
							<span>humbertoriver9@gmail.com</span>
						</SocialPill>
					</li>
				</ul>
			</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class='text-2xl opacity-80 font-semibold mb-6 flex items-center gap-4'>
				<Work class='size-7' />
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>
	</main>
</Layout>
