---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCE = [
  {
    date: 'Actualmente',
    title: 'Desarrollador de front-end',
    description: 'En GreenFlame, trabajo en el desarrollo de aplicaciones web utilizando tecnologías como HTML, CSS, JavaScript, React y Next para el front-end. Me he enfocado en mejorar la experiencia de usuario mediante la implementación de diseños responsivos y optimización de rendimiento. Además, he trabajado en equipo utilizando metodologías ágiles como Scrum y he colaborado en la revisión de código y pruebas de calidad. ',
    link: 'https://greenflame.com.ar/web/',
  },
  {
    date: 'Actualemnte',
    title: 'Profesor de la materia Especialización Frontend I,II y III',
    description: 'En Digital House, tengo la oportunidad de ser el profesor de la especialización Frontend en la carrera Certified Tech Developer, en la que imparto clases de manera virtual. He enseñado a estudiantes las habilidades necesarias para ser desarrolladores frontend exitosos, incluyendo React, Hooks, Js Docs, React Query, Typescript en React, Redux, patrones avanzados de diseño y buenas prácticas, clean code y accesibilidad, principios SOLID, CSS en JS, testing Jest y RTL, y GraphQL.',
    link: 'https://www.digitalhouse.com/ar',
  },
  {
    date: 'Actualemnte',
    title: 'Profesor del Curso de Desarrollo Web',
    description: 'Soy profesor del curso de Desarrollo Web, en el que enseño a los estudiantes a crear aplicaciones web utilizando tecnologías como HTML, CSS, Sass, Git, GitHub. Además, les enseño a trabajar en equipo y a colaborar en proyectos de desarrollo web. También les enseño a utilizar herramientas de desarrollo web como Visual Studio Code y Chrome DevTools. Aprenden a crear sitios web responsivos y a optimizar el rendimiento de sus aplicaciones web y hacer deploy en Netlify, Vercel o en un Hosting gratuito.',
    link: 'https://www.coderhouse.com/ar/',
  },
  {
    date: 'Julio 2021',
    title: 'Desarrollador de front-end',
    description: 'Como Desarrollador de Front-end en la Agencia Encender, desempeñé un papel fundamental en el mantenimiento y desarrollo de aplicaciones en la plataforma Salesforce. Utilicé el builder de Salesforce junto con HTML, CSS, JavaScript y jQuery para asegurar el rendimiento óptimo de las aplicaciones existentes. Mis responsabilidades incluyeron el desarrollo de Microservicios que se ejecutaban dentro de Salesforce mediante iframes. Estos Microservicios se implementaron usando tecnologías web como HTML, CSS y JavaScript, y en algunos casos, React.',
    link: 'https://www.encendercomunicacion.com/',
  },
  {
    date: 'Agosto 2020',
    title: 'Desarrollador web',
    description: 'Diseño y Desarrollo de paginas Web con Wordpress y Elementor, creación de Landing Pages, Web Institucional, Web Cátalogo, Web Tienda.Optimización de velocidad y SEO. ',
    link: 'https://valordigital.com.ar/',
  }
]
---

<ol class='relative border-s border-gray-200 dark:border-gray-700'>
	{
    EXPERIENCE.map((experience) => (
      <li class='mb-10 ms-4'>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
