<footer class='py-10 w-full flex items-center justify-center mt-11 lg:mt-44'>
	<p class="text-center">
		&copy; {new Date().getFullYear()} - Hecho con <span class='text-red-500'
			>❤️</span
		> por{" "}
		<a
			href='https://www.linkedin.com/in/humberto-rivero-castro/'
			target='_blank'
			rel='noopener noreferrer'
		>
			Humberto Rivero
		</a>
	</p>
</footer>
