---
import Logo from "./Logo.astro";
---

<header class="flex justify-between items-center py-5 w-full lg:max-w-4xl mx-auto px-4 md:px-0">
  <Logo />

  <div class="block lg:hidden">
    <button id="menu-button" class="text-gray-500 focus:outline-none">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>

  <nav id="nav-menu" class="hidden absolute top-10 left-0 right-0 bottom-0 md:static flex-col lg:flex lg:flex-row gap-4 xl:gap-x-10 opacity-80">
    <a class="hover:text-violet-400/90 cursor-pointer" href="#top">
      Inicio
    </a>
    <a class="hover:text-violet-400/90 cursor-pointer" href="#about">
      Sobre mí
    </a>
    <a class="hover:text-violet-400/90 cursor-pointer" href="#experience">
      Experiencia
    </a>
    <a class="hover:text-violet-400/90 cursor-pointer" href="#projects">
      Proyectos
    </a>
    <a class="hover:text-violet-400/90 cursor-pointer" href="#contact">
      Contacto
    </a>
  </nav>
</header>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menuButton = document.getElementById('menu-button') as HTMLButtonElement;
    const navMenu = document.getElementById('nav-menu') as HTMLDivElement;

    menuButton.addEventListener('click', () => {
      navMenu.classList.add('flex');
      navMenu.classList.toggle('hidden');
    });
  });
</script>

