---
import Logo from "./Logo.astro";
---

<header class="flex justify-between items-center py-5 lg:w-[740px] mx-auto">
  <Logo />

  <nav class="flex flex-row gap-4 xl:gap-x-10 opacity-80">
    <a href="#top">
      Inicio
    </a>
    <a href="#about">
      Sobre mí
    </a>
    <a href="#experience">
      Experiencia
    </a>
    <a href="#projects">
      Proyectos
    </a>
    <a href="#contact">
      Contacto
    </a>
  </nav>
</header>
