<a
	href={Astro.props.href}
	target='_blank'
	rel='noopener noreferrer'
  class="flex items-center justify-center gap-2 rounded-full border border-violet-400/90 px-4 py-2 bg-white/5 hover:scale-110 transform transition-all hover:bg-white/10"
>
  <slot />
</a>
