---
import Header from "../components/Header.astro";
import "@fontsource-variable/onest";
interface Props {
	title: string;
	description: string;
}

const {title, description} = Astro.props;
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description} />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class='fixed left-0 top-0 -z-10 h-full w-full'>
			<div class='relative h-full w-full bg-slate-950'>
				<div
					class='absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]'
				>
				</div><div
					class='absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]'
				>
				</div>
			</div>
		</div>
		<div
			class='relative mx-auto h-screen w-full max-w-7xl px-6 md:px-8 lg:px-12'
		>
			<Header />
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
		/* TODO: cambiar esto */
		color: #fff;
	}
	html {
		font-family: "Onest Variable", sans-serif;
		scroll-behavior: smooth;
	}

	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
	}

	@media (prefers-reduced-motion: reduce) {
		body {
			scroll-behavior: auto;
		}
	}
</style>
